/* line 11, ../sass/master.scss */
body {
  margin-top: 50px;
  margin-bottom: 80px; }

/* line 16, ../sass/master.scss */
.section {
  padding-top: 48px; }

/* line 20, ../sass/master.scss */
.main-content {
  margin-left: 140px;
  padding-left: 40px; }

/* line 25, ../sass/master.scss */
.lead {
  color: #6e6e6e; }

/* line 27, ../sass/master.scss */
.page-header {
  *zoom: 1; }
/* line 28, ../sass/master.scss */
.page-header h1 {
  float: left; }
/* line 32, ../sass/master.scss */
.page-header a {
  margin-top: 18px;
  font-size: small; }
/* line 15, ../sass/bootstrap/_mixins.scss */
.page-header:before, .page-header:after {
  display: table;
  content: "";
  line-height: 0; }
/* line 22, ../sass/bootstrap/_mixins.scss */
.page-header:after {
  clear: both; }
