// --- Master stylesheet
// ----------------------------------------

// Import necessary modules so that the master stylesheet could build
@import "bootstrap/variables";

@import "bootstrap/mixins";

@import "extend/variables";

body {
    margin-top: 50px;
    margin-bottom: 80px;
}

.section {
    padding-top: 48px;
}

.main-content {
    margin-left: $mainContentMarginLeft;
    padding-left: 40px;
}

.lead { 
    color: lighten($gray, 10%); 
    font-size: 16.5px
}

.page-header{
    h1 {
        float: left;
        color: $grayDark;
    }

    a {
        margin-top: 18px;
        font-size: small;
    }   

    @include clearfix();
}


@media (max-width: 979px) {

    body {
        margin-top: 0;
    }

    .main-content {
        margin-left: $mainContentMarginLeft - 40;
        padding-left: 40px;
    }
}

@media (max-width: 767px) {
    .main-content {
        margin-left: 0;
        padding-left: 0;
    }
}