// --- Master stylesheet
// ----------------------------------------

// Import necessary modules so that the master stylesheet could build
@import "bootstrap/variables";

@import "bootstrap/mixins";

@import "extend/variables";

body {
    margin-top: 50px;
    margin-bottom: 80px;
}

.section {
    padding-top: 48px;
}

.main-content {
    margin-left: $mainContentMarginLeft;
    padding-left: 40px;
}

.lead { color: lighten($gray, 10%); }

.page-header{
    h1 {
        float: left;
    }

    a {
        margin-top: 18px;
        font-size: small;
    }   

    @include clearfix();
}
