.nav-static-topbar {
    top: 0px;
    position: fixed;
    border-top: 2px solid $topbarBorderTopColor;
    
    .brand {
        font-weight: bold;
    }
}

.nav-static-sidebar {
    position: fixed;
    top: 53px;
    -webkit-transform: translateZ(0); // Fix the Chrome rendering issue when clicking on local anchor tags
    background-color: darken($sidebarBgColor, 5%);
    width: 120px;
    height: 100%;
    
    li > a {
        position: relative;
        background-color: $sidebarLinkBgColor;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        line-height: 30px;
        color: $sidebarLinkTextColor;
        text-shadow: none;
        margin-bottom: 1px;

        &:hover {
            color: $sidebarLinkTextColorHover;
            background-color: $sidebarLinkBgColorHover;
        }
    }

    li.active > a {
        background-color: $sidebarActiveLinkColor;
        border-left: 5px solid $sidebarLinkActiveBorderLeftColor;
        
        &:hover {
            background-color: $sidebarActiveHoverColor;
        }

        &::after{
          content: "";
          top: 8px;
          position: absolute;
          border-style: solid;
          border-width: 10px;
          right: 0;
          border-color: transparent $white transparent transparent;
        }   
    }
}


@media (max-width: 979px) {

    .nav-static-sidebar {
        top: 61px;
    }

}

@media (max-width: 767px) {
    
    body {
        margin: 0;
    }

    .nav-static-topbar,
    .nav-static-sidebar {
        position: nav-static;
        width: auto;
    }

    .nav-static-topbar {
        top: 0px;
        margin-bottom: 0px;
        @include box-shadow(none);
    }

    .nav-static-sidebar {
        margin-left: -20px;
        margin-right: -20px;
        
        .icon-chevron-right {
            display: none;
        }

        li.active > a::after {

            border: none;
        }
    }

    .section {
        padding-top: 6px;
    }

    .main-content {
        margin-left: 0;
        padding-top: 40px;
        padding-left: 0;
    }
}