// --- Extended variables
// ----------------------------------------

@import "flatUI";

// --- Layout
// ----------------------------------------
$staticLeftOffset: 120px;

// --- Static Topbar
// ----------------------------------------
$topbarBorderTopColor: $blue;


// --- Static Sidebar
// ----------------------------------------
$sidebarWidth: $staticLeftOffset;

$sidebarBgColor: darken($asphalt, 10%);
$sidebarLinkTextColor: $white;
$sidebarLinkTextColorHover: $white;
$sidebarLinkBgColorHover: $blueDark;
$sidebarLinkBgColor: $asphalt;
$sidebarLinkActiveBorderLeftColor: $blueLight;
$sidebarActiveLinkColor: $sidebarBgColor;
$sidebarActiveHoverColor: $sidebarLinkBgColorHover;

// --- Main Content
// ----------------------------------------
$mainContentMarginLeft: $sidebarWidth + 20px;