// --- Extended variables
// ----------------------------------------

// --- Layout
// ----------------------------------------
$staticLeftOffset: 120px;


// Flat UI colors
// -------------------------
$midnightBlue: #2c3e50;
$asphalt: #34495e;
$blueFlat: #2980b9;
$blueFlatLight: #3498db;
$cloud: #ecf0f1;
$turquoise: #1abc9c;
$emerald: #2ecc71;
$amethyst: #9b59b6;
$carrot: #e67e22;
$sunflower: #f1c40f;
$red: #e74c3c;


// --- Static Topbar
// ----------------------------------------
$topbarBorderTopColor: $blue;


// --- Static Sidebar
// ----------------------------------------
$sidebarWidth: $staticLeftOffset;

$sidebarBgColor: darken($asphalt, 10%);
$sidebarLinkTextColor: $white;
$sidebarLinkTextColorHover: $white;
$sidebarLinkBgColorHover: $blueDark;
$sidebarLinkBgColor: $asphalt;
$sidebarLinkActiveBorderLeftColor: $blueLight;
$sidebarActiveLinkColor: $sidebarBgColor;
$sidebarActiveHoverColor: $sidebarLinkBgColorHover;

// --- Main Content
// ----------------------------------------
$mainContentMarginLeft: $sidebarWidth + 20px;